.container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gainsboro;
  cursor: pointer;
  transition: background 300ms ease;

  &:hover {
    background: rgba(39, 45, 61, 0.6);
  }

  svg {
    width: 1.3em;
    height: 1.3em;
    margin-right: 0.4rem;
  }
}
