@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");


.contain {
  width: 1200px;
  margin: 0px auto;
  border-top: 0.5px solid rgb(191, 194, 196);
}

// header component

header {
  width: 1200px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  justify-content: center !important;

  nav {
    ul {
      display: flex;
      list-style: none;
      padding-left: 0px;

      li {
        padding: 15px;
        padding-block-end: 10px;
        text-transform: uppercase;

        a {
          padding: 10px;
          color: black;
          text-decoration: none !important;
          font-family: "opensans-bold", sans-serif;
          font-size: 15px;
          letter-spacing: 3px;

          &:hover {
            color: rgb(148, 153, 156);
            transition: all 0.5s ease;
          }
        }
      }
    }
  }
}

// home component

section#home {
  width: 1200px;
  font-size: 65px !important;

  .typistexample {
    width: 100%;
    height: 400px;
    margin: 0px;
    font-size: 65px;
    line-height: 80px;
  }
  .message {
    justify-content: center !important;
    text-align: center !important;
    font-family: "Work Sans", sans-serif;
    padding-top: 60px !important;
    font-weight: bold;
    letter-spacing: 2px;
  }

  nav {
    padding-top: 40px;
    justify-content: center !important;
    padding-bottom: 50px;
  }

  nav ul {
    display: flex;
    justify-content: center !important;
    padding: 0px;
    margin-block-end: 0px !important;
  }
  nav ul li {
    padding: 0px 20px 0px 20px;
    list-style: none;
  }

  nav ul li a svg {
    width: 40px;
  }

  svg:hover path {
    fill: rgb(36, 92, 110);
    transition: all 0.2s ease;
  }
}
// about component

section#about {
  padding-block-start: 46px;
  padding-block-end: 46px;
  display: flex;
  align-items: center;
  img {
    border: 2px solid rgb(134, 138, 141);
    object-fit: cover;
    border-radius: 50%;
    min-width: 175px;
    min-height: 175px;
  }
  p {
    font-family: "Work Sans", sans-serif;
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 42px;
    padding-left: 40px;
    a {
      font-family: "Work Sans", sans-serif;
      font-weight: bold;
      color: rgb(36, 92, 110);

      text-decoration: none;
    }
    a:hover {
      color: rgb(146, 156, 156);
      transition: all 0.5s ease;
    }
  }

  .name {
    color: rgb(41, 60, 73);
  }
}

// resume component

#resume {
  padding-block-start: 70px;
  padding-block-end: 70px;
  overflow: hidden;
  margin-left: auto;

  h1 {
    font: 18px/24px "opensans-bold", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  h1 span {
    border-bottom: 3px solid rgb(134, 138, 141);
    padding-bottom: 3px;
  }
  h3 {
    font: 24px "opensans-bold", sans-serif;
    margin-block-start: 12px;
    margin-block-end: 0px;
    font-weight: bold;
    padding-bottom: 7px;
    color: rgb(20, 41, 49);
    letter-spacing: 1.3px;
  }

  .info {
    margin-block-start: 0px;
    margin-block-end: 25px;
  }

  .header-col {
    width: 250px;
  }
  .main-col {
    width: 1000px;
  }

  .row.item {
    padding-left: 60px;
  }

  .row.item2 {
    margin-block-start: 3em;
    padding-left: 60px;
  }

  .education {
    margin-bottom: 40px;
    display: flex;
  }
  .info {
    font-size: 16px;
    color: rgb(88, 86, 86);
    letter-spacing: 0.5px;
    font-family: "librebaskerville-italic", serif;
  }

  p {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    color: rgb(0, 0, 0);
    letter-spacing: 0.5px;
  }

  .skills {
    display: flex;
    height: 100px;
  }

  ul {
    list-style: none;
    display: flex;
    margin-block-start: 0px;
  }

  ul li {
    padding: 0px 0px 0px 15px;
  }

  svg path {
    padding: 5px;
    opacity: 50%;
  }

  svg:hover path {
    opacity: 100%;
    transition: all 0.5s ease;
  }
}

// contact component

section#contact {
  width: 1200px;
  padding-block-start: 70px;
  padding-block-end: 70px;

  .contactme {
    text-align: center;
  }

  h3 {
    font-family: "Work Sans", sans-serif;
    margin-block-end: 0px;
    font-size: 21px;
  }

  .button1 {
    padding: 15px 25px;
    height: auto;
    font-size: 20 px;
    color: black;
    background-color: rgb(231, 228, 228);
    border-radius: 10px;
    border: 1px solid rgb(167, 160, 160);
    box-shadow: 2px 2px 2px rgb(133, 158, 133);
  }
  .button1:hover {
    transition: all 0.5s ease;
    transform: translateY(4px);
    background-color: rgb(195, 199, 202);
  }

  span {
    font-size: 17px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
  }
}
// footer component

section#footer {
  justify-content: center !important;

  nav ul {
    display: flex;
    list-style: none;
    justify-content: center !important;
    padding: 30px 20px 0 20px;
  }

  nav ul li a {
    padding: 0px 20px 0px 20px;
  }
  nav ul li a svg {
    width: 33px;
  }
  svg:hover path {
    fill: rgb(36, 92, 110);
    transition: all 0.2s ease;
  }

  p {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: "Work Sans", sans-serif;
  }
  p a {
    color: rgb(37, 74, 110);
  }
}
