.footer {
  .container {
    max-width: 1100px;
    margin: auto;

    .notify {
      color: #9798af;
      font-size: 13px;
      padding-bottom: 1.5rem;
      display: flex;
      align-items: center;

      span {
        padding-left: 0.4rem;
        svg {
          animation: followMe 1s ease-in-out infinite alternate-reverse;
          width: 1.1em;
          height: 1.1em;
          display: flex;
        }
      }
    }

    ul {
      display: flex;

      li {
        margin-right: 1.2rem;

        &:nth-last-child(1) {
          margin-right: 0;
        }

        a {
          display: flex;
          transition: transform 300ms ease-in-out;
          &:hover {
            transform: scale(1.15);
          }

          svg {
            font-size: 1.4em;
            fill: white;
          }
        }

        &:nth-child(4) {
          path {
            &:nth-child(1) {
              fill: transparent;
            }
            &:nth-child(2) {
              fill: white;
            }
          }
        }
      }
    }
  }
}

@keyframes followMe {
  from {
    transform: translateY(-2px);
  }
  to {
    transform: translateY(1px);
  }
}
