@media (max-width: 480px) {
  header {
    width: 95% !important;
    padding-bottom: 5px;
    padding-top: 5px;
    nav {
      width: 100% !important;

      ul {
        width: 100%;
        justify-content: center !important;
      }
      li {
        padding: 0px !important;

        a {
          padding: 8px !important;
          font-size: 15px !important;
          letter-spacing: 0px !important;
        }
      }
    }
  }
  .container {
    width: 95% !important;
  }

  section#home {
    width: 95% !important;
    display: flex;
    margin-block-end: 0px !important;
    flex-direction: column;
    padding-bottom: 50px;

    .typistexample {
      width: 100% !important;
      margin: 0px !important;
      font-size: 50% !important;
      line-height: 45px !important;
      height: 300px !important;

      .message {
        padding-top: 55px !important;
        letter-spacing: 0px !important;
        width: 100% !important;
      }
    }

    nav {
      padding: 0px !important;
    }
  }

  section#about {
    display: flex !important;
    flex-direction: column;
    width: 95% !important;
    padding-block-end: 30px !important;
  }

  section#about p {
    color: white;
    font-size: 110% !important;
    text-align: center;
    padding: 0px !important;
    line-height: 30px !important;
  }

  section#resume {
    width: 95% !important;
    height: auto;
    padding-top: 30px;
    flex-direction: column;
    padding-block-end: 90px !important;

    .row.education,
    .row.skills {
      display: flex;
      flex-direction: column;
    }

    .edudesc,
    .edudesc2 {
      padding-left: 0px;
      text-align: center;
    }

    .title1 {
      width: auto;
      text-align: center !important;
    }

    .main-col {
      width: auto !important;
    }

    .main-col ul {
      display: flex;
      height: 75px;
      flex-direction: row;
      padding-top: 20px;
      padding-left: 0px;
      justify-content: center;

      li {
        padding-right: 15px;
      }
    }

    p {
      line-height: 28px !important;
    }

    svg {
      width: 50px !important;
    }

    div.row.cv{
      display: flex;
      flex-direction: column;
      padding-top: 50px;
      text-align: center;

      .main-col{
        padding-left: 0px;
      }

      .title1{
        padding-bottom: 20px;
      }
      .button2{
        padding: 13px 26px;
      }
    }
  }

  section#contact {
    width: 95% !important;
    padding-block-start: 45px !important;
    padding-block-end: 45px !important;
  }

  section#footer {
    width: 95% !important;
    justify-content: center !important;

    nav ul {
      padding-top: 10px !important;
    }
    p {
      padding-bottom: 10px !important;
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  header {
    width: 95% !important;
    padding-bottom: 5px;
    padding-top: 5px;
    nav {
      width: 100% !important;

      ul {
        width: 100%;
        justify-content: center !important;
      }
      li {
        padding: 0px !important;

        a {
          padding: 8px !important;
          font-size: 15px !important;
          letter-spacing: 0px !important;
        }
      }
    }
  }
  .container {
    width: 95% !important;
  }

  section#home {
    width: 95% !important;
    display: flex;
    margin-block-end: 0px !important;
    flex-direction: column;
    padding-bottom: 50px;

    .typistexample {
      width: 100% !important;
      margin: 0px !important;
      font-size: 70% !important;
      line-height: 50px !important;
      height: 300px !important;

      .message {
        padding-top: 55px !important;
        letter-spacing: 0px !important;
        width: 100% !important;
      }
    }

    nav {
      padding: 0px !important;
    }
  }

  section#about {
    display: flex !important;
    flex-direction: column;
    width: 95% !important;
    padding-block-end: 30px !important;
  }

  section#about p {
    color: white;
    font-size: 130% !important;
    text-align: center;
    padding: 0px !important;
    line-height: 30px !important;
  }

  section#resume {
    width: 95% !important;
    height: auto;
    padding-top: 30px;
    flex-direction: column;
    padding-block-end: 90px !important;

    .row.education,
    .row.skills {
      display: flex;
      flex-direction: column;
    }

    .edudesc,
    .edudesc2 {
      padding-left: 0px;
      text-align: center;
    }

    .title1 {
      width: auto;
      text-align: center !important;
      h1 {
        font-size: 130% !important;
      }
    }

    .main-col {
      width: auto !important;
    }

    .main-col ul {
      display: flex;
      height: 75px;
      flex-direction: row;
      padding-top: 20px;
      padding-left: 0px;
      justify-content: center;

      li {
        padding-right: 15px;
      }
    }

    p {
      line-height: 28px !important;
    }

    svg {
      width: 50px !important;
    }
    div.row.cv{
      display: flex;
      flex-direction: column;
      padding-top: 50px;
      text-align: center;
      
      .main-col{
        padding-left: 0px;
      }

      .title1{
        padding-bottom: 20px;
      }
      .button2{
        padding: 13px 26px;
      }
    }
  }

  section#contact {
    width: 95% !important;
    padding-block-start: 45px !important;
    padding-block-end: 45px !important;
  }

  section#footer {
    width: 95% !important;
    justify-content: center !important;

    nav ul {
      padding-top: 10px !important;
    }
    p {
      padding-bottom: 10px !important;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  header {
    width: 95% !important;

    nav {
      padding-top: 2px;
      padding-bottom: 1px;
      ul {
        justify-content: center !important;
      }
      li {
        a {
          padding: 10px !important;
          letter-spacing: 2px !important;
          font-size: 110% !important;
        }
      }
    }
  }
  section#home {
    width: 95% !important;
    .typistexample {
      font-size: 70% !important;
      line-height: 50px !important;
      height: 270px !important;

      .message {
        padding-top: 64px !important;
        letter-spacing: 0px !important;
      }
    }
    nav {
      ul {
        margin: 0px !important;
        li {
          a {
            padding: 15px;
            svg {
              width: 40px !important;
              height: 40px !important;
            }
          }
        }
      }
    }
  }
  section#about {
    display: flex !important;
    flex-direction: column;
    width: 95% !important;
  }
  section#about p {
    width: 95% !important;
    text-align: center !important;
    font-size: 120% !important;
    line-height: 31px !important;
    padding-left: 0px !important;
  }

  section#resume {
    width: 95% !important;
    padding-block-end: 100px !important;
    padding-top: 40px;

    .row.education,
    .row.skills {
      display: flex;
      flex-direction: column;
      font-size: 100% !important;
    }

    .edudesc,
    .edudesc2{
      padding-left: 0px;
      text-align: center;
    }

    .title1 {
      width: auto;
      text-align: center !important;
      h1 {
        font-size: 120% !important;
      }
    }

    h3 {
      font-size: 22px !important;
    }
    .main-col {
      width: 100% !important;
    }

    .info {
      font-size: 15px !important;
    }

    p {
      font-size: 19px !important;
      width: auto !important;
    }

    .main-col ul {
      display: flex;
      height: 75px;
      flex-direction: row;
      padding-top: 20px;
      padding-left: 0px;
      justify-content: center;

      li {
        padding-right: 15px;
      }
    }

    p {
      line-height: 23px !important;
    }
    div.row.cv{
      display: flex;
      flex-direction: column;
      padding-top: 50px;
      text-align: center;
      
      .main-col{
        padding-left: 0px;
      }

      .title1{
        padding-bottom: 20px;
      }
      .button2{
        padding: 13px 26px;
      }
    }
  }

  section#contact {
    width: 95% !important;
    padding-block-start: 50px !important;
    padding-block-end: 50px !important;
  }

  section#footer {
    width: 95% !important;
    padding-top: 15px;
    padding-bottom: 10px;

    nav ul {
      padding-top: 10px !important;
    }
    p {
      padding-bottom: 10px !important;
      font-size: 18px !important;
    }
    svg {
      width: 40px !important;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1124px) {
  header {
    width: 95% !important;
    nav {
      ul {
        li {
          a {
            font-size: 130% !important;
          }
        }
      }
    }
  }
  section#home {
    nav {
      ul {
        margin: 0px !important;
        li {
          a {
            padding: 15px;
            svg {
              width: 40px !important;
            }
          }
        }
      }
    }
  }

  section#home {
    width: 95% !important;
  }

  section#about {
    width: 95% !important;
    display: flex !important;
  }

  section#resume {
    width: 93% !important;
    
  }

  section#contact {
    width: 95% !important;
  }

  section#footer {
    width: 95% !important;
    padding-top: 15px;
    padding-bottom: 10px;

    nav ul {
      padding-top: 10px !important;
    }
    p {
      padding-bottom: 10px !important;
      font-size: 18px !important;
    }
    svg {
      width: 40px !important;
    }
  }
}
@media (max-width: 768px) and (orientation: landscape) {
  header {
    nav {
      ul {
        li {
          a {
            font-size: 17px !important;
            padding: 15px !important;
          }
        }
      }
    }
  }
  section#home {
    .typistexample {
      height: 180px !important;
      .message {
        font-size: 30px !important;
        line-height: 40px !important;
      }
    }
  }
}
